@import "../../styles/templates";
@import "../../styles/global";

.container {
  padding: 20px 50px 20px 20px;
  box-shadow: 4px 4px 20px 0 rgba(34, 60, 80, 0.1);
  border-radius: 10px;
}

.info {
  display: flex;
  gap: 20px;
  justify-content: flex-start;

  img {
    width: 70px;
    border-radius: 5px;
    object-fit: fill;
    filter: grayscale(70%);
  }

  li {
    position: relative;
    text-transform: capitalize;

    &:before {
      position: absolute;
      content: attr(data-tooltip);
      font-size: 10px;
      top: -12px;
    }
  }

  li:not(:first-child) {
    margin-top: 12px;
  }

  li:first-child {
    align-self: center;
  }

  .maxWeight {
    color: $paragraphColor;
  }
}