
$purple: #a56df6;
$gray: #d7d6db;
$lightGray: #f9f9fb;
$blue: #6188ed;
$black: #1d1d1f;
$orange: #fe8c3f;
$green: #52ac40;

$iconColor: $gray;
$mainColor: $orange;
$backgroundColor: #fff;
$paragraphColor: #c5c4c9;
$headingColor: $black;