@import "../../styles/global";

.container {
  display: flex;
  gap: 40px;
  margin-left: 10px;
}

.infoClover {
  display: flex;
  flex-direction: column;

  .colorInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px;

    span {
      position: relative;
      font-size: 12px;

      &:before {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        border-radius: 50%;
      }

      &:nth-child(1):before {
        background-color: $blue;
      }

      &:nth-child(2):before {
        background-color: $orange;
      }

      &:nth-child(3):before {
        background-color: $green;
      }

      &:nth-child(4):before {
        background-color: $purple;
      }
    }
  }
}

.moreInfo {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  flex: 1;

  .currentValue {
    font-size: 14px;
    color: $paragraphColor;
  }
  .maxValue {

  }
}