@import "styles/global.scss";


.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  overflow: hidden;
}

li {
  list-style-type: none;
}

svg, path {
  fill: $iconColor;
}