@import "styles/global.scss";


.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  overflow: auto;
}

li {
  list-style-type: none;
}

svg, path {
  fill: $iconColor;
}